
<!--footer-->
<div class="footer">

	<div class="footer-bottom">
		<div class="container">

				<div class="col-md-3 footer-bottom-cate">
					<h6>Featured Products</h6>
					<ul>
						<li><a href="/view_product?id=6"> Cherry</a></li>
						<li><a href="/view_product?id=8"> Avocado</a></li>


					</ul>
				</div>
				<div class="col-md-3 footer-bottom-cate">
					<h6>Business Analytics</h6>
					<ul>
						<li><a href="/analytics/">View Data</a></li>


					</ul>
				</div>
				<div class="col-md-3 footer-bottom-cate cate-bottom">
					<h6>Our Address</h6>
					<ul>
						<li><a href="#"> Pittsburgh </a></li>

						<li class="phone"></li>
					</ul>
				</div>
				<div class="clearfix"> </div>
				<p class="footer-class"></p>
			</div>
	</div>
</div>

<!--//footer-->
